body {
    background-color: #000;
    background-image: linear-gradient(0deg, #3a3d40 0%, #181719 100%);
    font-family: 'Be Vietnam';
}

header {
    height: 207px; 
    text-align: center;
    color: #939393;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


h1 {
    color: white;
    margin: 0 0 0 20px;
}

.mainDiv1 {
    margin: auto;
    background-color: #141414;
    height: 420px;
    padding: 20px;
}

.mainDiv2 {
    margin: auto;
    background-color: #141414;
    height: 420px;
    padding: 20px;
    align-items: center;
}

.mainDiv3 {
    margin: auto;
    background-color: #141414;
    height: 420px;
    padding: 30px;
    align-items: center; 
}

.divForRd {
    margin: 10px 0 0 10px; 
    font-size: 15px;
    color: white;
}

.divForRslt {
    height: 350px;
    background-color: #141414;
    overflow: auto;
}

.divForInpt {
    margin: 15px 0 0 10px;
}


.divForRsltBtn {
    margin: 6px 0 0 10px;
} 

label {
    display: block;
}

    label > #code, #encode {
        display: inline;
    }

#string,
#stringEncode {
    width: 250px;
    min-width: 250px;
    max-width: 350px;
    height: 150px;
    min-height: 150px;
    max-height: 190px;
    font-size: 15px;
    border-radius: 7px;
    padding: 15px;
}

#code,
#encode {
    width: 90px;
    height: 25px;
    font-size: 12px;
    border-radius: 7px;
}


